@use '../../scss' as *;
.status-cr {
    width: 500px;
    min-height: 500px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    padding: 0 15px;
    &__header {
        width: 100%;
        height: 60px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        padding: 10px;
        & > h3 {
            font-size: 1.25rem;
            font-weight: 600;
            color: $txt-color;
        }
    }
    &__close {
        position: absolute;
        right: 15px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background-color: $icon-bg;
        display: flex;
        align-items: center;
        justify-content: center;
        & > svg {
            width: 70%;
            height: 70%;
            fill: $txt-second;
        }
    }
    &__content {
        padding: 15px 0;
    }
    &__user {
        display: flex;
        align-items: center;

        &-img {
            width: 40px;
            height: 40px;
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        &-info {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            margin-left: 10px;
        }
        &-name {
            margin-bottom: 2px;
            & > div {
                font-size: 13.5px;
                color: $txt-color;
                font-weight: 500;
            }
        }
        &-options {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 7px;
            border-radius: 5px;
            background-color: $icon-bg;
            cursor: pointer;
            & > img {
                width: 12px;
                height: 12px;
                object-fit: cover;
                margin-right: 3px;
                margin-bottom: 2px;
            }
            & > span {
                font-size: 0.7rem;
                color: $txt-color;
                font-weight: 600;
                line-height: 12px;
            }
            & > svg {
                width: 12px;
                height: 12px;
            }
        }
    }
    &__input {
        width: 100%;
        height: 300px;
        overflow-y: auto;
        position: relative;
        padding-right: 0;
        &::-webkit-scrollbar {
            display: none;
        }
        &-options {
            position: absolute;
            bottom: 20px;
            left: 0;
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-emoji {
            width: 25px;
            height: 25px;
            cursor: pointer;
            &:hover {
                & > svg {
                    fill: $main-blue;
                }
            }
            & > svg {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
            &-choose {
                position: absolute;
                top: 0;
                width: 300px;
                height: 250px;
            }
        }
    }
    &__create {
        position: relative;
        margin-bottom: 10px;
    }
    &__img {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        &__title {
            & > span {
                color: #050505;
                font-size: 15px;
                font-weight: 500;
            }
        }
        &-close {
            position: absolute;
            top: 5px;
            right: 5px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ddd;
            cursor : pointer;
            z-index: 101;
        }
        &-choose {
            width: 100%;
            height:fit-content ;
            min-height: 180px;
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 7px;
            position: relative;
            &-input {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 10px;
                position: relative;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }
                & > input {
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    opacity: 0;
                    cursor: pointer;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 100;
                }
            }
            &-icon {
                position: absolute;
                z-index: 99;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                & > i {
                    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/DPZrYMllB8l.png);
                    background-position: 0px -734px;
                    background-size: 34px 1002px;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    display: inline-block;
                }
                & > div {
                    font-size: 15px;
                    color: #000;
                    font-weight: 600;
                    margin: 5px 0;
                }
                & > span {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.5);
                }
            }
        }
    }

    &__post{
        width: 100%;
        padding : 12px 0 ;
        border-radius: 10px;
        background-color:$main-blue;
        display: flex;
        align-items: center;
        justify-content:center ;
        margin : 10px 0 ;
        display: flex;
        align-items: center;
        cursor : pointer;
        transition : opacity 0.2s ease-in-out;
        &:hover{
            opacity: 0.8;
        }
        & > span{
            color :#fff ;
            font-weight: 600;
            font-size: 14px;
            margin-left: 3px;
            display: block;
            display: flex;
            align-items: center;
            & > span {
                margin-right: 7px;
            }
        } 
    }
}
.emoji-picker-react {
    top: -1350% !important;
    left: 0;
}
.img {
    & > i {
        height: 24px;
        width: 24px;
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/DPZrYMllB8l.png);
        background-position: 0px -268px;
        background-size: 34px 1002px;
        background-repeat: no-repeat;
        display: inline-block;
    }
}
.chosse-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
